/*
 ==========================================================================
  $Header
 ==========================================================================
 */

#header-wrapper {

	.container {
		position: relative;
		> .content {
			display: table;
			margin: 0 auto 10px;
		}
	}

	// Logo
	#site-logo {
		display: table-cell;
		vertical-align: middle;
		@extend %block;
		width: 115px;
		@include MQ(S) {
			width: 170px;
		}
		img {
			width: 100%;
			height: auto;
		}
		.svg & {
			img {
				visibility: hidden;
			}
			background:image-url('logo.svg') center no-repeat;
			@include background-size(contain);
		}
	}

	// Slogan
	#site-slogan {
		display: table-cell;
		vertical-align: middle;
		margin: 0;
		padding-left: 10px;
		width: 140px;
		@include remFallback(font-size, 1.7);
		text-align: left;
		line-height: 1.2;
		@include MQ(S) {
			@include remFallback(font-size, 3);
			width: 300px;
		}
	}
	
	// Header Region
	#header {
		@include MQ(Smax) {
			display: none;
		}
	}

	// User Menu
	#block-system-user-menu {
		position: absolute;
		top: 0;
		right: 15px;
		z-index: 10;

		.content {
			.current-user-name {
				padding: 8px 20px 0;
				font-weight: bold;
				@include remFallback(font-size, 1.75);
				@include icoMoon(chevron-down, after);
				&:after {
					margin-left: 5px;
				}

			}
			ul.menu {
				display: none;
				position: absolute;
				top: 100%;
				right:0;
				@extend %listUnstyled;
				@include rgbaBgndColor($white, .9);
				border: 1px solid $black;
				@include border-radius(5px);
				overflow: hidden;
				li {
					a {
						@extend %block;
						padding: 5px 15px;
						color: $black;
						white-space: nowrap;
						text-decoration: none;
						&:hover {
							background-color: $gray;
						}
					}
				}
			}
			&:hover ul.menu {
				display: block;
			}
		}
	}
}